<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Spot™</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/"><img src="{{ url_for('static', filename='asset/logo.svg') }}" alt="logo"></a>
            </div>
            <ul>
                <li><a href="about">About</a></li>
                <li><a href="prediction">Prediction</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about" class="container">
            <h1>About Our Service</h1>
            <div class="grid">
                <div>
                    <p>Spot™ uses advanced AI algorithms to analyze images of skin lesions and help identify potential signs of skin cancer. Our tool is designed to assist in early detection and encourage timely consultations with dermatologists.</p>
                    <p>While not a substitute for professional medical advice, Spot™ can be a valuable first step in assessing your skin health. We're committed to improving skin cancer awareness and promoting regular skin checks.</p>
                </div>
                <img src="{{ url_for('static', filename='asset/back.jpg') }}" alt="Dermatologist examining a patient" style="width: 100%; height: auto; border-radius: 10px;">
            </div>
        </section>

        <section id="our-mission" class="container">
            <h2>Our Mission</h2>
            <p>We find cancer in people.</p>
            <p>Skin cancer is one of the most common type of cancer. According to <a href="https://www.iarc.who.int/cancer-type/skin-cancer/#:~:text=Skin%20cancers%20are%20the%20most,people%20died%20from%20the%20disease.">the International Agency for Research on Cancer (IARC)</a>, almost 60,000 people died from skin cancer alone.
            If detected and treated early, however, common skin cancer can have a survival rate higher than 95%. Our goal is to help raise awareness and protect people from treatable cancer.</p>
        </section>

        <section id="team" class="container">
            <h2>Our Team</h2>
            <div class="grid">
                <div class="card">
                    <h3>Ms. Regina</h3>
                    <p>Product Manager</p>
                </div>
                <div class="card">
                    <h3>Mr. Hakan</h3>
                    <p>Fullstack Developer</p>
                </div>
                <div class="card">
                    <h3>Ms. Nitya</h3>
                    <p>Software Engineer - AI</p>
                </div>
                <div class="card">
                    <h3>Mr. Arya</h3>
                    <p>Fullstack Developer</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Spot™. All rights reserved.</p>
        <p>Disclaimer: This tool is for informational purposes only and should not be considered medical advice. Always consult with a qualified healthcare professional for proper diagnosis and treatment.</p>
    </footer>
</body>
</html>
